Flask==3.1.2
Flask-MySQLdb==1.0.1
Flask-Mail==0.10.0
gunicorn==21.2.0
python-dotenv==1.0.0
Jinja2==3.1.6
itsdangerous==2.2.0
click==8.3.1
Werkzeug==3.1.5
blinker==1.9.0
numpy==1.26.4
opencv-python==4.8.1.78